.layout {
  max-width: 1200px;
  background-color: skyblue;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px
}

.layout_2 {
  width: 80%;
  background-color: skyblue;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px
}

.layout_3 {
  background-color: skyblue;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px
}

.box {
  min-height: 150px;
  background-color: sandybrown;
  border-radius: 20px;
}

.box1 {
  grid-row: 1/3;
  grid-column: 1/3;
}